In [1]:
from cobra import Model, Reaction, Metabolite

In [2]:
M = Model('ALTAYEB1')

In [3]:
T1 = Reaction('T1')
T1.name = 'T1'

In [4]:
T2 = Reaction('T2')
T2.name = 'T2'

In [5]:
In = Reaction('In')
In.name = 'In'
In.lower_bound = 15
In.upper_bound = 15

In [6]:
Out = Reaction('Out')
Out.name = 'Out'

In [7]:
T3 = Reaction('T3')
T3.name = 'T3'
T3.lower_bound = 12
T3.upper_bound = 12

In [8]:
T4 = Reaction('T4')
T4.name = 'T4'

In [9]:
A = Metabolite(
    'A', compartment='c')
B = Metabolite(
    'B', compartment='c')
C = Metabolite(
    'C', compartment='c')
ATP = Metabolite(
    'ATP', compartment='c')

In [10]:
T1.add_metabolites({A: -1, B: 1})

T2.add_metabolites({B: -1, C: 1})

In [11]:
In.add_metabolites({A: 1})

Out.add_metabolites({C: -1})

In [12]:
T3.add_metabolites({A: -1, ATP: 1})

T4.add_metabolites({ATP: -1})

In [13]:
M.add_reactions([In, T1, T2, T3, T4, Out])

In [14]:
M.objective = Out

In [15]:
M.optimize()

In [16]:
M.summary()